
Core/ECommerce.Application/.DS_Store
Core/ECommerce.Application/bin/Debug/net7.0/ECommerce.Application.dll
Core/ECommerce.Application/bin/Debug/net7.0/ECommerce.Application.pdb
Core/ECommerce.Application/bin/Debug/net7.0/Ecommerce.Domain.dll
Core/ECommerce.Application/bin/Debug/net7.0/Ecommerce.Domain.pdb
Core/ECommerce.Application/obj/Debug/net7.0/ECommerce.Application.AssemblyInfoInputs.cache
Core/ECommerce.Application/obj/Debug/net7.0/ECommerce.Application.assets.cache
Core/ECommerce.Application/obj/Debug/net7.0/ECommerce.Application.csproj.AssemblyReference.cache
Core/ECommerce.Application/obj/Debug/net7.0/ECommerce.Application.csproj.CoreCompileInputs.cache
Core/ECommerce.Application/obj/Debug/net7.0/ECommerce.Application.dll
Core/ECommerce.Application/obj/Debug/net7.0/ECommerce.Application.pdb
Core/ECommerce.Application/obj/Debug/net7.0/ref/ECommerce.Application.dll
Core/ECommerce.Application/obj/Debug/net7.0/refint/ECommerce.Application.dll
*.cache
*.dll
Presentation/.DS_Store
Presentation/ECommerce.API/.DS_Store
*.pdb
Core/Ecommerce.Domain/.DS_Store
Infrastructure/ECommerce.Persistence/.DS_Store
Infrastructure/.DS_Store
Infrastructure/ECommerce.Infrastructure/.DS_Store
